According to RFC 4791 section 4.1:

> Calendar components with the same UID property value, in a given calendar collection, MUST be contained in the same calendar object resource.

Meanwhile, RFC 2445 says the proper way to modify one instance of a recurring event is to create a new VEVENT with the same UID as the recurring event and a RECURRENCE-ID field. So, putting this together, a recurring event with a modified instance not only can, but indeed _must_, have multiple VEVENTs in a single object (ICS file). I see this happening with Radicale.

The push side of things, from phone to server, is even messier: when I modify one instance of a recurring event on the phone and then refresh, it creates a brand new event with fresh UID on the server for that instance… but does absolutely nothing with the original event! IMO what it should do is create a new event with the same UID and a RECURRENCE-ID and push the two events into a single object.
